<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="strip-line"></div>
  <div class="box-content" style="text-align: center;"><?php echo $code; ?></div>
</div>
